<section class="section ff-inter">
    <div class="center section">
        <img src="../../../assets/imagens/logo.png" alt="Logo easytime" class="logo">
        <p class="subtitulo">Sistema de ponto eletrônico</p>
    
        <div class="container">
            <div class="display-column">
                <p class="texto">Consultar ponto</p>

                <div class="data">
                    <span class="display-column">
                        <label for="">Data de inicio</label>
                        <input type="date" class="input">
                    </span>
    
                    <span class="display-column">
                        <label for="">Data de fim</label>
                        <input type="date" class="input">
                    </span>
                </div>

                <div class="botoes display-row">
                    <button class="botao">Consultar</button>
                    <button class="botao exportar"> Exportar </button>
                </div>
            </div>

            <div class="tabela">
                <table>
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Entrada 1</th>
                            <th>Saída 1</th>
                            <th>Entrada 2</th>
                            <th>Saida 2</th>
                            <th>Entrada 3</th>
                            <th>Saida 3</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>data</td>
                            <td>entrada</td>
                            <td>saida</td>
                            <td>entrada</td>
                            <td>saida</td>
                            <td>entrada</td>
                            <td>saida</td>
                            <td>total</td>
                            <td>edicao</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
