<section class="section ff-inter">
    <div class="center section">
        <img src="../../../assets/imagens/logo.png" alt="Logo easytime" class="logo">
        <p class="subtitulo">Sistema de ponto eletrônico</p>
    
        <div class="container">
            <div class="display-column">
                <p class="texto">Consultar ponto</p>

                <form [formGroup]="formulario" (ngSubmit)="consultar()">
                    <div class="data">
                        <span class="display-column">
                            <label for="inicio">Data de inicio</label>
                            <input type="date" name="inicio" formControlName="inicio" 
                                   [class.shake]="shakeFields['inicio']" [class.invalid]="formulario.get('inicio')?.invalid && formulario.get('inicio')?.touched">

                            <div class="caixa-mensagem">
                                <p class="erro" *ngIf="formulario.get('inicio')?.errors?.['required'] && formulario.get('inicio')?.touched">
                                    Por favor, preencha a data de início
                                </p>
                                <p class="erro" *ngIf="formulario.errors?.['validarDatas'] && formulario.get('final')?.touched">
                                    A data de início deve ser anterior à data de fim
                                </p>
                            </div>
                        </span>
        
                        <span class="display-column">
                            <label for="final">Data de fim</label>
                            <input type="date"name="final" formControlName="final" 
                                   [class.shake]="shakeFields['final']" [class.invalid]="formulario.get('final')?.invalid && formulario.get('final')?.touched">

                            <div class="caixa-mensagem">
                                <p class="erro" *ngIf="formulario.get('inicio')?.errors?.['required'] && formulario.get('inicio')?.touched">
                                    Por favor, preencha a data final
                                </p>
                            </div>
                        </span>
                    </div>
    
                    <div class="botoes display-row">
                        <button class="botao" type="submit">Consultar</button>
                        <button class="botao exportar"> Exportar </button>
                    </div>
                </form>
            </div>

            <div class="caixa-mensagem" *ngIf="registros.length === 0">
                <p class="erro"> {{ error }}</p>
            </div>

            <div class="tabela center" *ngIf="registros.length > 0">
                <table>
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Entrada 1</th>
                            <th>Saída 1</th>
                            <th>Entrada 2</th>
                            <th>Saida 2</th>
                            <th>Entrada 3</th>
                            <th>Saida 3</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let registro of registros">
                            <td>{{ registro.data }}</td>
                            <td>{{ registro.entrada1 }}</td>
                            <td>{{ registro.saida1 }}</td>
                            <td>{{ registro.entrada2 }}</td>
                            <td>{{ registro.saida2 }}</td>
                            <td>{{ registro.entrada3 }}</td>
                            <td>{{ registro.saida3 }}</td>
                            <td>{{ registro.horasTrabalhadas }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
