<section class="section ff-inter">
    <div class="center section">
        <img src="../../../assets/imagens/logo.png" alt="Logo easytime" class="logo">
        <p class="subtitulo">Sistema de ponto eletrônico</p>

        <div class="center container-form">
            <form class="center" [formGroup]="formulario" (ngSubmit)="enviarLogin()">
                <label for="login">Login</label>
                <input name="login" formControlName="login" placeholder="Login" [class.shake]="shakeFields['login']"
                    [class.invalid]="formulario.get('login')?.invalid && formulario.get('login')?.touched" />
                <div class="caixa-mensagem">
                    <p class="erro" *ngIf="formulario.get('login')?.errors?.['required'] && formulario.get('login')?.touched">
                        Por favor, preencha o login
                    </p>
                    <p class="erro" *ngIf="formulario.get('login')?.errors?.['pattern'] && formulario.get('login')?.touched">
                        Login deve conter letras, pode ter números, pontos e underlines
                    </p>
                </div>

                <label for="senha">Senha</label>
                <div class="senha-input">
                    <input formControlName="senha" name="senha" placeholder="Senha"
                        type="{{ showPassword ? 'text' : 'password' }}" [class.shake]="shakeFields['senha']"
                        [class.invalid]="formulario.get('senha')?.invalid && formulario.get('senha')?.touched" />
                    <span class="material-symbols-outlined icon" (click)="togglePasswordVisibility()"> 
                        {{ showPassword ? 'visibility_off' : 'visibility'}} 
                    </span>
                </div>
                <div class="caixa-mensagem display-column">
                    <p class="erro" *ngIf="formulario.get('senha')?.errors?.['required'] && formulario.get('senha')?.touched">
                        Por favor, preencha a senha
                    </p>
                    <p class="erro" *ngIf="formulario.get('senha')?.errors?.['minlength'] && formulario.get('senha')?.touched">
                        A senha deve conter pelo menos 8 digitos
                    </p>
                    <p class="erro" *ngIf="formulario.get('senha')?.errors?.['senhaValidacao'] && formulario.get('senha')?.touched">
                        A senha deve conter ao menos uma letra, um número e um caractére especial.
                    </p>

                    <p class="erro" *ngIf="error != null">{{ error }}</p>
                </div>

                <button type="submit" class="botao">Entrar</button>
                <a routerLink="/enviar-codigo" routerLinkActive="router-link-active" class="link">
                    Esqueci minha senha
                </a>
            </form>
        </div>
    </div>
</section>