<section class="container ff-inter">
    <img src="assets/imagens/logo.png" alt="Logo easytime">
    <p class="subtitulo">Sistema de ponto eletrônico</p>

    <div class="container login">
        <form (submit)="enviarLogin()" class="container">
            <label for="login">Login</label>
            <input name="login" id="login" type="text" name="login">
            
            <label for="senha">Senha</label>
            <input id="senha" name="senha" type="password">

            <button (click)="enviarLogin()" class="botao">ENTRAR</button>
            <a href="" class="link">Esqueci minha senha</a>
        </form>
    </div>
    
</section>
