<section class="container ff-inter">
    <img src="../../../assets/imagens/logo.png" alt="Logo easytime" class="logo">
    <p class="subtitulo">Sistema de ponto eletrônico</p>

    <div class="container login">
        <form class="container">
            <label for="login">Login</label>
            <input [(ngModel)]="login" placeholder="Login" />
            
            <label for="senha">Senha</label>
            <input [(ngModel)]="senha" id="senha" type="password">

            <button (click)="enviarLogin()" class="botao">ENTRAR</button>
            <a href="" class="link">Esqueci minha senha</a>
        </form>
    </div>
    
</section>
