.modal-alteracao {
  align-self: center;
  justify-self: center;
  width: fit-content;
  height: fit-content;
  padding: 1em 2em;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  border-radius: 0.5em;
}

.botoes {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  justify-items: center;
  gap: 0.5em;
  margin: 1em 0;
}

.botao-cancelar {
  height: 2em;
  background-color: #ffffff;
  color: #333;
  border: #d4d4d4 solid 1px;
}

.botao-cancelar:hover {
  cursor: pointer;
  background-color: #f0f0f0;
  border: #c4c4c4 solid 1px;
}

.status-pedido {
  width: 100%;
  gap: 1em;
  margin-bottom: 1em;
}

.status-pedido .botao span{
  color: white;
}

.recusar[aria-disabled = true]{
  background-color: #838485;
  transition: background-color ease-in-out 0.5s;
}

.recusar[aria-disabled = true]:hover{
  background-color: #838485;
  cursor: not-allowed;
}

.aceitar[aria-disabled = true]{
  background-color: #a5a5a7;
  transition: background-color ease-in-out 0.5s;
}

.aceitar[aria-disabled = true]:hover{
  background-color: #a5a5a7;
  cursor: not-allowed;
}

.recusar {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recusar:hover {
  background-color: rgb(199, 12, 12);
}

.aceitar {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aceitar:hover {
  background-color: rgb(7, 105, 7);
}

.botao {
  width: 95%;
  height: 2em;
  margin: 0;
}

.subtitulo {
  font-size: 1.3em;
  font-weight: 700;
  margin: 0.5em;
}

.texto {
  margin-bottom: 0em;
  width: 100%;
  text-align: center;
  padding-bottom: 0.4em;
}

.linha{
  width: 100%;
  border-bottom: #d4d4d4 solid 1px;
  margin: 0.5em 0em;
}

.area-input {
  width: 20em;
  gap: 0.8em;
}

.input-time {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
}

.input-time input {
  width: 100%;
  height: 2.5em;
  padding: 0.5em;
  border: 1px solid #d4d4d4;
  border-radius: 0.5em;
}

.input-textarea textarea{
  margin-top: 0.5em;
  resize: none;
  width: 100%;
  height: 4em;
  border: 1px solid #d4d4d4;
  border-radius: 0.5em;
  padding: 0.5em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.315);
  z-index: 997;
  border-radius: 0;
}

@media (max-width: 992px) {
  .modal-alteracao {
    height: fit-content;
    padding: 1em 2em;
  }

  .subtitulo {
    font-size: 1.2em;
  }

  .texto {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .modal-alteracao img{
    width: 3em;
  }

  .texto {
    font-size: 0.9em;
  }

  .area-input{
    width: 18em;
  }

  .input-time input{
    height: 2em;
  }

  .botao {
    font-size: 0.9em;
  }

  .botoes {
    margin: 0.5em 0em;
    flex-direction: column;
    gap: 0.5em;
  }
}

@media (max-width: 400px){
  .area-input{
    width: 17em;
  }
}
