<div class="overlay center" role="presentation">
    <div class="modal-relatorio display-column" role="dialog" aria-modal="true" aria-label="Exportar Relatório">
        <h2 class="subtitulo" role="heading" aria-level="1">Alterar ponto</h2>

        <div>
            <p><b>Id registro: </b> {{ registro?.id }}</p>
            <p><b>Login usuario: </b> {{ usuario }}</p>
            <p><b>Data: </b> {{ registro?.data}}</p>
            <p><b>Entrada 1: </b> {{ registro?.entrada1}}</p>
            <p><b>Saída 1: </b> {{ registro?.saida1 }}</p>
            <p><b>Entrada 2: </b> {{ registro?.entrada2 }}</p>
            <p><b>Saída 2: </b> {{ registro?.saida2 }}</p>
            <p><b>Entrada 3: </b> {{ registro?.entrada3 }}</p>
            <p><b>Saída 3: </b> {{ registro?.saida3 }}</p>
            <p><b>Horas Trabalhadas: </b> {{ registro?.horasTrabalhadas }}</p>
            <p><b>Status: </b> {{ (registro?.status || '') | capitalize }}</p>
        </div>

        <button (click)="fechar()" class="botao" role="button" aria-label="Cancelar exportação">Cancelar</button>
    </div>
</div>
