<div class="overlay" *ngIf="!menuColapsado" (click)="toggleMenu()"></div>
<div class="menu-suspenso">
    <div (click)="toggleMenu()" class="menu-botao">
        <span class="material-symbols-outlined icone-menu">
            menu
        </span>
    </div>
</div>
<div class="menu-lateral menu-lateral--collapsed">
    <div (click)="toggleMenu()" class="menu-group display-row menu-botao">
        <span class="material-symbols-outlined icone-menu">
            menu
        </span>
        <p class="menu-legenda" *ngIf="!menuColapsado">Menu</p>
    </div>

    <div class="menu-list">
        <ul>
            <li class="display-row menu-botao" (click)="navegarParaBaterPonto()" [ngClass]="{'ativo': rotaAtual === '/bater-ponto'}">
                <span class="material-symbols-outlined icone-menu">
                    schedule
                </span>
                <p class="menu-legenda" *ngIf="!menuColapsado">Bater Ponto</p>
            </li>
            <li (click)="navegarParaConsulta()" class="display-row menu-botao" [ngClass]="{'ativo': rotaAtual === '/consulta'}">
                <span class="material-symbols-outlined icone-menu">
                    receipt_long
                </span>
                <p class="menu-legenda" *ngIf="!menuColapsado">Consultar registros</p>
            </li>
            <li (click)="sair()" class="display-row menu-botao">
                <span  class="material-symbols-outlined icone-menu icone-sair">
                    logout
                </span>
                <p class="menu-legenda" *ngIf="!menuColapsado">Sair</p>
            </li>
        </ul>
    </div>
</div>


