<div class="overlay center">
    <div class="modal-relatorio display-column">
        <h2 class="subtitulo">Exportar Relatório</h2>
        <p class="texto">Selecione o formato desejado:</p>

        <div class="botoes display-row">
            <span (click)="exportarPDF()" class="botao-exportar display-column">
                <img src="../../assets/imagens/pdf.png" alt="PDF">
                Exportar como PDF
            </span>
            <span (click)="exportarExcel()" class="botao-exportar display-column">
                <img src="../../assets/imagens/xls.png" alt="Excel">
                Exportar como Excel
            </span>
        </div>

        <button (click)="fechar()" class="botao">Cancelar</button>
    
        <a href="https://www.flaticon.com/free-icons/xls" class="link" target="_blank" title="icons">icons created by Roman Káčerek - Flaticon</a>
    </div>
</div>
